include *.md
include *.txt
include .coveragerc
include .pylintrc
include LICENSE
include MANIFEST
include tox.ini

recursive-include examples *.ipynb
recursive-include examples *.py
recursive-include examples *.wav
recursive-include examples *.mp3
recursive-include tests *.py
