name: Pya

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop

jobs:
  unit-test:
    runs-on: ${{ matrix.os  }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Install portaudio Ubuntu
      if: matrix.os == 'ubuntu-latest'
      shell: bash -l {0}
      run: sudo apt-get install portaudio19-dev
    - name: Install portaudio MacOS
      if: matrix.os == 'macos-latest'
      shell: bash -l {0}
      run: brew install portaudio
    - uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: test-env
        environment-file: ci/test-environment.yml
        python-version: ${{ matrix.python-version }}
        auto-activate-base: false
    - name: Set up depen
      shell: bash -l {0}
      run: |
        conda init bash
        conda activate test-env
        conda install ffmpeg coverage python-coveralls --file=requirements_remote.txt --file=requirements_test.txt
        # pyaudio is not yet available on conda
        pip install -r requirements.txt
    - name: Run tests
      shell: bash -l {0}
      run: |
        conda activate test-env
        pytest --cov pya/
